@if(!isLoggedIn) {
  <div class="layout" style="display: flex; justify-content: center;">
    <section>
      <mat-button-toggle-group
        name="favoriteColor"
        aria-label="Favorite Color"
        [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()"
      > 
        <mat-button-toggle value="red" routerLink="/feed" routerLinkActive="active-route">Feed</mat-button-toggle>
        <mat-button-toggle value="green" routerLink="/dashboard" routerLinkActive="active-route">Dashboard</mat-button-toggle>
        <mat-button-toggle value="blue" routerLink="/profile" routerLinkActive="active-route">Profile</mat-button-toggle>
      </mat-button-toggle-group>
    </section>
  </div>
}
@else {
  <app-login (isLoggedIn)="handleLogin($event)" ></app-login>
}
<main class="page-content">
  <router-outlet />
</main>
